@import 'flatpickr/dist/flatpickr.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Nunito Sans";
		font-weight: 400;
		src: url('/resources/fonts/NunitoSans-Regular.ttf');
	}

	/* @font-face {
		font-family: "Nunito Sans";
		font-weight: 400;
		src: url('/resources/fonts/NunitoSans-Italic.ttf');
	} */

	@font-face {
		font-family: "Nunito Sans";
		font-weight: 600;
		src: url('/resources/fonts/NunitoSans-SemiBold.ttf');
	}

	@font-face {
		font-family: "Nunito Sans";
		font-weight: 700;
		src: url('/resources/fonts/NunitoSans-Bold.ttf');
	}
}

/* For Alpine JS */
[x-cloak] { display: none !important; }

.custom-datepickr-styles {
	@apply text-base cursor-pointer text-left shadow-sm focus-within:ring-transparent focus:ring-primary focus:border-primary w-full text-gray-800 block sm:text-sm border-gray-300 rounded-md  pl-3 py-2 !important;
}
